<%- partial('_partial/navbar') %>
<div class="main-wrapper">
  <div class="main-content">
    <div id="profile" class="article">   
      <h1>Profile</h1>
      <div class="profile-text">
        <% for (var text of site.data.index['profile']['texts']) { %>
          <p><%= text %></p> 
        <% } %>
      </div>
    </div>
    <div id="history" class="article">
      <h1>History</h1>
      <div class="row">
        <%- partial('_partial/history', {history: site.data.index['profile']['history']}) %>
      </div>
    </div>
    <div id="skills" class="article">        
      <h1>Skills</h1>
      <div class="skill_sheets row">
        <% for (var skill of site.data.index['skills']) { %>
          <%- partial('_partial/skill_card', {skill: skill}) %>
        <% } %> 
      </div>
    </div>    
    <div id="works" class="article">
      <h1>Works</h1>
      <% for (var work of site.data.index['works']) { %>
        <%- partial('_partial/work_card', {work: work}) %>
      <% } %>
    </div>    
    <div id="contact" class="article">
      <h1>Contact</h1>
      coming soon...
    </div>
  </div>
</div>
        